@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colores base */
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0080FF;

  /* Primarios */
  --primary-blue: #0080FF;
  --primary-white: #FFFFFF;

  /* Grises */
  --gray-1: #F5F7FA;
  --gray-2: #E2E2EA;
  --gray-3: #92929D;
  --gray-4: #696974;
  --gray-5: #44444F;
  --gray-6: #262633;
  --gray-7: #171725;
  --gray-8: #0B0B10;

  /* Semánticos */
  --semantic-green: #2C8022;
  --semantic-blue: #2AB0FC;
  --semantic-yellow: #FCC132;
  --semantic-orange: #FF740D;
  --semantic-red: #FF3F3F;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar minimalista */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d1d5db transparent; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Chrome, Safari */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}

/* Scrollbar custom minimal */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/* globals.css */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
