@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
   from { opacity: 0; transform: scale(0.95); }
   to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
   animation: fadeIn 0.3s ease-out forwards;
}

/* Scrollbar minimalista */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d1d5db transparent; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Chrome, Safari */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}

/* Estilos tipográficos según guía de diseño */
@layer components {
  .heading-1 {
    @apply font-poppins text-h1 font-semibold text-gray-5 leading-standard;
  }
  
  .heading-2 {
    @apply font-poppins text-h2 font-medium text-gray-5 leading-standard;
  }
  
  .heading-3 {
    @apply font-poppins text-h3 font-medium text-gray-4 leading-standard;
  }
  
  .heading-4 {
    @apply font-poppins text-h4 font-medium text-gray-4 leading-standard;
  }
  
  .paragraph {
    @apply font-poppins text-p font-regular text-gray-3 leading-standard;
  }
  
  .paragraph-small {
    @apply font-poppins text-p-small font-regular text-gray-3 leading-standard;
  }
  
  .tag {
    @apply font-poppins text-xs font-medium rounded-full px-2 py-0.5;
  }
}